<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Detective Git - Your code as a crimescene</title>
        <link rel="stylesheet" href="/screen.css" type="text/css" charset="utf-8" />
    </head>
    <body>
        <span id="forkongithub"><a href="https://github.com/lukasmartinelli/detectivegit">Fork me on GitHub</a></span>
        <header class="branding">
            <img src="/detective.png" alt="detective" />
            <h1>Detective Git</h1>
        </header>
        {{{body}}}
        <script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
        <script>
        $(function() {
            $('#repo-analyze').submit(function(e) {
                $('.loader').show();
                $('.repo-info').hide();
            });
        });
        </script>
    </body>
</html>

