<section class="main">
    <form method="POST" action="/" id="repo-analyze" class="clearfix">
        <input id="repo-search" name="name" class="search-box" placeholder="Your GitHub repository" autofocus="" value="{{repo.name}}">
        <button type="submit" class="search-submit">Analyze</button>
    </form>
    <article class="repo-info">
        <h2 style="color: #6F3829;">Report for {{repo.name}} not possible</h2>
    </article>
</section>
